<h3>>Lista instruktorów</h3>
<table class="table table-striped table-hover" *ngIf="inspektoraty">
  <thead>
    <tr>
      <td>Imię</td>
      <td>Login</td>
      <td>Nazwisko</td>
      <td>Klasa</td>
      <td>inspektor</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <a href="" [routerLink]="['/user', user._id]">{{user.user}}</a>
      </td>
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.surname}}
      </td>
      <td>
        {{user.class}}
      </td>
      <td>
        {{ giveNameInspektorat(user.inspektorat)}}
      </td>
    </tr>
  </tbody>
</table>

